.navbar .nav-item .nav-link,
.navbar .nav-link.active,
.navbar .navbar-brand {
   color: rgb(243, 240, 236);
   
}

.navbar .nav-link:hover {
    color: rgb(232, 226, 219);
}


.cart-count {
    position: absolute;
    top: 7px;
    left: 22px;
    font-size: 0.9rem;
    font-weight: 700;
}